<!DOCTYPE html>

<html lang='en'>
	<head>
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>

		<meta charset="utf-8"/>

        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <script src="/static/js/jquery.js"></script>

		<script src="/static/js/d3.js"></script>

		<script src="/static/js/bootstrap.min.js"></script>

		<script src="/static/js/canvasjs.min.js"></script>

		<script src="/static/js/app.js"></script>


	</head>

	<main>
    	{% block main %}{% endblock %}
    </main>

</html>
