{% extends "layout.html" %}

{% block main %}
    <div class="container.fluid">
        <div class="row buffer">
            {% set col_num = 6 %}
            {% for device in devices %}

            {% if loop.index % col_num == 1%}
              <div class="col solid left-most" align="center">
                <div>Device ID:</div>
                <div id="{{ device.id }}">{{ device.id }}</div><br>
                <div>Name:</div>
                <a href="{{ url_for('input', id=device.id) }}">{{ device.name }}</a><br><br>
              </div>
            {% elif loop.index % col_num == 0 %}
              <div class="col solid right-most" align="center">
                <div>Device ID:</div>
                <div id="{{ device.id }}">{{ device.id }}</div><br>
                <div>Name:</div>
                <a href="{{ url_for('input', id=device.id) }}">{{ device.name }}</a><br><br>
              </div>
            {% else %}
              <div class="col solid" align="center">
                <div>Device ID:</div>
                <div id="{{ device.id }}">{{ device.id }}</div><br>
                <div>Name:</div>
                <a href="{{ url_for('input', id=device.id) }}">{{ device.name }}</a><br><br>
              </div>
            {% endif %}  

                <!-- if last column in row -->
                {% if loop.index is divisibleby (col_num) and not loop.last %}
                </div><div class="row buffer">
                {% endif %}

                {% if loop.last %}
                  {% set remaining=col_num - (loop.index % col_num) %}

                  {% for i in range(remaining) %}
                    {% if i==remaining - 1 %}
                      <div class="col clear right-most"></div>
                    {% else %}
                      <div class="col clear"></div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
