{% extends "layout.html" %}

{% block main %}
    <div class="container.fluid">
        <div class="row top-buffer">
            {% for device in devices %}
            <div class="col">
              Device ID: {{ device.id }}
              Name: {{ device.name }}
            </div>

                <!-- if last column in row -->
                {% if loop.index is divisibleby (6) and not loop.last %}
                </div><div class="row top-buffer">
                {% endif %}

            {% endfor %}

        </div>
    </div>
{% endblock %}
