{% extends "layout.html" %}

{% block main %}
	<!-- This {{id}} is the one that you clicked on -->
	<head>
		<!-- <script type="text/javascript">
    function test(HeartRate) {
        console.log(HeartRate);
    }
    test({{ HeartRate|safe }})
		</script> -->
		<script>
			// // window.onload = function plot(HeartRate) {
			//
			// var chart = new CanvasJS.Chart("HeartRate", {
			// 	animationEnabled: true,
			// 	theme: "light2",
			// 	title:{
			// 		text: "Heart Rate"
			// 	},
			// 	axisY:{
			// 		includeZero: false
			// 	},
			// 	data: [{
			// 		type: "line",
			// 		dataPoints: HeartRate
			// 		// dataPoints: [
			// 		// 	{ 'y': 450 },
			// 		// 	{ 'y': 414},
			// 		// 	{ y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			// 		// 	{ y: 460 },
			// 		// 	{ y: 450 },
			// 		// 	{ y: 500 },
			// 		// 	{ y: 480 },
			// 		// 	{ y: 480 },
			// 		// 	{ y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			// 		// 	{ y: 500 },
			// 		// 	{ y: 480 },
			// 		// 	{ y: 510 }
			// 		// ]
			// 	}]
			// });
			// chart.render();
			// }
			// plot({{ HeartRate|safe }})
			window.onload = function () {

			var chart = new CanvasJS.Chart("HeartRate", {
				animationEnabled: true,
				theme: "light2",
				title:{
					text: "Heart Rate"
				},
				axisY:{
					includeZero: false
				},
				data: [{
					type: "line",
					dataPoints: [
						{ 'y': 450 },
						{ 'y': 414},
						{ y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
						{ y: 460 },
						{ y: 450 },
						{ y: 500 },
						{ y: 480 },
						{ y: 480 },
						{ y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
						{ y: 500 },
						{ y: 480 },
						{ y: 510 }
					]
				}]
			});
			chart.render();
			}
		</script>
		<div>Patient {{ id }}</div>
		<body>
			<div id="HeartRate" style="height: 300px; width: 100%;"></div>
			<br>
			<div id="RespiratoryRate" style="height: 300px; width: 100%;"></div>
			<br>
			<div id="Temperature" style="height: 300px; width: 100%;"></div>
			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
			<!-- <script type="text/javascript" src="/static/js/canvasjs.min.js"></script> -->
		<!-- </body>
	</head>
{% endblock %}
